<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
   <h1>Welcome to my api!</h1>
   <p class="intro">
        The idea behind this tiny project is to provide endpoints to retrieve data from different
        pages related to Magic the Gathering. Many of these sites don't have an api for public use,
        hence I decided to scrap the data I needed for my personal projects using python's library BeautifulSoup.
   </p>

   <h2>Endpoints</h2>

   <table>
        <tr>
            <th>URL</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>/decks/:format</td>
            <td>Returns meta decks for each format classified by deck type.</td>

        </tr>
        <tr>
            <td>/events</td>
            <td>Returns a list of the last major mtg events.</td>
            
        </tr>

        <tr>
            <td>/events/:format</td>
            <td>Returns a list of the last major mtg events of the format.</td>
            
        </tr>
   </table>

   <h2>Models</h2>

   <h3>List</h3>
   <pre>
        {
            <strong>result</strong> array(Model)
            <strong>total</strong> : number()
        }
   </pre>

   <h3>Deck</h3>
   <pre>
        {
            <strong>name</strong> : string
            <strong>url</strong> : string(url)
            <strong>image</strong> : string(url)
            <strong>style</strong> : string
        }
   </pre>
   <h3>Event</h3>
   <pre>
    {
        <strong>date</strong> : string(date)
        <strong>format</strong> : string
        <strong>location</strong> : string
        <strong>title</strong> : string
        <strong>url</strong> : string(url)
    }
    </pre>
                               
        
   </div>
    
    
        
        
         
        
   
   
</body>
</html>